{{- define "cli_parser_go-flag" }}
	var remainingArgs []string
	dashDashSeen := false
	{{- $hasTrackedFlags := false }}
	{{- range .Parameters }}
		{{- if or .Required (and (not .IsPositional) (not .HasGenerator) (not .InheritedFrom) (or .IsWriter .IsReader) .HasDefaultValue) }}
			{{- $hasTrackedFlags = true }}
		{{- end }}
	{{- end }}
	{{- if $hasTrackedFlags }}
	seenFlags := make(map[string]bool)
	{{- end }}

	// Create a local flagset so it doesn't ExitOnError or panic
	fs := flag.NewFlagSet(c.FlagSet.Name(), flag.ContinueOnError)
	fs.Usage = c.Usage

	{{- range .Parameters }}
	{{- if and (not .IsPositional) (not .HasGenerator) (not .InheritedFrom) }}
	{{$param := .}}
	{{- $aliases := list }}
	{{- $aliases = append $aliases .Name }}
	{{- range .FlagAliases }}{{ $aliases = append $aliases . }}{{ end }}
	{{- $uniqueAliases := list }}
	{{- range $a := $aliases }}
		{{- $exists := false }}
		{{- range $u := $uniqueAliases }}{{ if eq $u $a }}{{ $exists = true }}{{ end }}{{ end }}
		{{- if not $exists }}{{ $uniqueAliases = append $uniqueAliases $a }}{{ end }}
	{{- end }}
	{{- range $uniqueAliases }}
	{{- if and $param.IsSlice (not (or $param.IsWriter $param.IsReader)) }}
	{{- $baseName := $param.BaseType | title }}
	{{- if $param.IsDuration }}{{ $baseName = "Duration" }}{{ end }}
	{{- $helperName := printf "%sSlice" $baseName }}
	{{- if $param.HasPointer }}{{ $helperName = printf "%sPointerSlice" $baseName }}{{ end }}
	fs.Var((*{{$helperName}})(&c.{{$param.Name}}), "{{.}}", "{{$param.Description}}")
	{{- else }}
	{{- if $param.HasPointer }}
	fs.Func("{{.}}", "{{$param.Description}}", func(s string) error { return flagSetFuncPointer(&c.{{$param.Name}}, s, "{{$param.Type}}") })
	{{- else if and $param.HasCustomParser }}
	fs.Func("{{.}}", "{{$param.Description}}", func(s string) error { return flagSetFuncCustom(&c.{{$param.Name}}, s, "{{$param.Type}}", {{$param.ParserCall "s"}}) })
	{{- else if eq $param.Type "string" }}
	fs.StringVar(&c.{{$param.Name}}, "{{.}}", c.{{$param.Name}}, "{{$param.Description}}")
	{{- else if eq $param.Type "bool" }}
	fs.BoolVar(&c.{{$param.Name}}, "{{.}}", c.{{$param.Name}}, "{{$param.Description}}")
	{{- else if eq $param.Type "int" }}
	fs.IntVar(&c.{{$param.Name}}, "{{.}}", c.{{$param.Name}}, "{{$param.Description}}")
	{{- else if eq $param.Type "int64" }}
	fs.Int64Var(&c.{{$param.Name}}, "{{.}}", c.{{$param.Name}}, "{{$param.Description}}")
	{{- else if eq $param.Type "uint" }}
	fs.UintVar(&c.{{$param.Name}}, "{{.}}", c.{{$param.Name}}, "{{$param.Description}}")
	{{- else if eq $param.Type "uint64" }}
	fs.Uint64Var(&c.{{$param.Name}}, "{{.}}", c.{{$param.Name}}, "{{$param.Description}}")
	{{- else if eq $param.Type "float64" }}
	fs.Float64Var(&c.{{$param.Name}}, "{{.}}", c.{{$param.Name}}, "{{$param.Description}}")
	{{- else if eq $param.Type "time.Duration" }}
	fs.DurationVar(&c.{{$param.Name}}, "{{.}}", c.{{$param.Name}}, "{{$param.Description}}")
	{{- else }}
	fs.Func("{{.}}", "{{$param.Description}}", func(s string) error { return flagSetFunc(&c.{{$param.Name}}, s, "{{$param.Type}}") })
	{{- end }}
	{{- end }}
	{{- end }}
	{{- end }}
	{{- end }}

	err = fs.Parse(args)
	if err != nil {
		if err == flag.ErrHelp {
			return nil
		}
		return err
	}

	{{- range .Parameters }}
	{{- if and (not .IsPositional) (not .HasGenerator) (not .InheritedFrom) }}
	{{$param := .}}
	{{- if or $param.Required (and (or $param.IsWriter $param.IsReader) $param.HasDefaultValue) }}
	seenFlags["{{$param.Name}}"] = false
	fs.Visit(func(f *flag.Flag) {
		if f.Name == "{{$param.Name}}" {{ range $param.FlagAliases }}|| f.Name == "{{.}}"{{ end }} {
			seenFlags["{{$param.Name}}"] = true
		}
	})
	{{- end }}
	{{- end }}
	{{- end }}
	remainingArgs = fs.Args()
{{- end }}
