//go:build go1.21

{{if .PackageName}}package {{.PackageName}}{{else}}package main{{end}}

import "slices"

func slicesContains(slice []string, item string) bool {
	return slices.Contains(slice, item)
}
