//go:build !go1.21

{{if .PackageName}}package {{.PackageName}}{{else}}package main{{end}}

type any = interface{}

func slicesContains(slice []string, item string) bool {
	for _, s := range slice {
		if s == item {
			return true
		}
	}
	return false
}
