{{- define "parser_gnu_root" }}
func (c *RootCmd) Execute(args []string) (err error) {
	{{- $hasFile := false }}
	{{- range .Parameters }}
	{{- if or .IsWriter .IsReader }}
	{{- $hasFile = true }}
	{{- end }}
	{{- end }}
	{{- if $hasFile }}
	var cleanups []func() error
	defer func() {
		for i := len(cleanups) - 1; i >= 0; i-- {
			if cerr := cleanups[i](); cerr != nil && err == nil {
				err = cerr
			}
		}
	}()
	{{- end }}
	{{- range .Parameters }}
	{{- if .HasGenerator }}
	{
		v, err := {{.GeneratorCall}}
		if err != nil {
			return fmt.Errorf("failed to generate {{.Name}}: %w", err)
		}
		c.{{.Name}} = v
	}
	{{- end }}
	{{- end }}
	var remainingArgs []string
	{{- $hasTrackedFlags := false }}
	{{- range .Parameters }}
		{{- if or .Required (and (not .IsPositional) (not .HasGenerator) (or .IsWriter .IsReader) .HasDefaultValue) }}
			{{- $hasTrackedFlags = true }}
		{{- end }}
	{{- end }}
	{{- if $hasTrackedFlags }}
	seenFlags := make(map[string]bool)
	{{- end }}
	dashDashSeen := false
	for i := 0; i < len(args); i++ {
		arg := args[i]
		if arg == "--" {
			dashDashSeen = true
			remainingArgs = append(remainingArgs, args[i+1:]...)
			break
		}
		if strings.HasPrefix(arg, "--") {
			if arg == "--help" {
				c.Usage()
				return nil
			}
			name := arg[2:]
			value := ""
			hasValue := false
			if strings.Contains(name, "=") {
				parts := strings.SplitN(name, "=", 2)
				name = parts[0]
				value = parts[1]
				hasValue = true
			}
			_ = value
			_ = hasValue
			switch name {
			{{- range .Parameters }}
			{{- if and (not .IsPositional) (not .HasGenerator) }}
			{{$param := .}}
			{{- $longs := list }}
			{{- if gt (len .Name) 1 }}{{ $longs = append $longs .Name }}{{ end }}
			{{- range .FlagAliases }}{{ if gt (len .) 1 }}{{ $longs = append $longs . }}{{ end }}{{ end }}
			{{- $uniqueLongs := list }}
			{{- range $l := $longs }}
				{{- $exists := false }}
				{{- range $u := $uniqueLongs }}{{ if eq $u $l }}{{ $exists = true }}{{ end }}{{ end }}
				{{- if not $exists }}{{ $uniqueLongs = append $uniqueLongs $l }}{{ end }}
			{{- end }}
			{{- if gt (len $uniqueLongs) 0 }}
			case {{ range $i, $n := $uniqueLongs }}{{if $i}}, {{end}}"{{$n}}"{{ end }}:
				{{- if or $param.Required (and (not $param.IsPositional) (not $param.HasGenerator) (or $param.IsWriter $param.IsReader) $param.HasDefaultValue) }}
				seenFlags["{{$param.Name}}"] = true
				{{- end }}
				{{- if or (eq $param.Type "bool") (eq $param.Type "*bool") (eq $param.Type "[]bool") (eq $param.Type "[]*bool") }}
				if hasValue {
					b, err := strconv.ParseBool(value)
					if err != nil {
						return fmt.Errorf("invalid boolean value for flag %s: %s", name, value)
					}
					{{- if eq $param.Type "bool" }}
					c.{{$param.Name}} = b
					{{- else if eq $param.Type "*bool" }}
					c.{{$param.Name}} = &b
					{{- else if eq $param.Type "[]bool" }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, b)
					{{- else if eq $param.Type "[]*bool" }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, &b)
					{{- end }}
				} else {
					{{- if eq $param.Type "bool" }}
					c.{{$param.Name}} = true
					{{- else if eq $param.Type "*bool" }}
					b := true
					c.{{$param.Name}} = &b
					{{- else if eq $param.Type "[]bool" }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, true)
					{{- else if eq $param.Type "[]*bool" }}
					b := true
					c.{{$param.Name}} = append(c.{{$param.Name}}, &b)
					{{- end }}
				}
				{{- else }}
				if !hasValue {
					if i+1 < len(args) {
						value = args[i+1]
						i++
					} else {
						return fmt.Errorf("flag %s requires a value", name)
					}
				}
				{{- if or $param.IsWriter $param.IsReader }}
				{{- template "acquire_io" (list $param "value") }}
				{{- else if $param.HasCustomParser }}
				v, err := {{$param.ParserCall "value"}}
				if err != nil {
					return fmt.Errorf("invalid {{$param.TypeDescription}} value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = {{$param.CastCode "v"}}
				{{- else if eq $param.Type "string" }}
				c.{{$param.Name}} = value
				{{- else if eq $param.Type "*string" }}
				s := value
				c.{{$param.Name}} = &s
				{{- else if eq $param.Type "int" }}
				iv, err := strconv.Atoi(value)
				if err != nil {
					return fmt.Errorf("invalid integer value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = iv
				{{- else if eq $param.Type "*int" }}
				iv, err := strconv.Atoi(value)
				if err != nil {
					return fmt.Errorf("invalid integer value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = &iv
				{{- else if eq $param.Type "time.Duration" }}
				d, err := time.ParseDuration(value)
				if err != nil {
					return fmt.Errorf("invalid duration value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = d
				{{- else if eq $param.Type "*time.Duration" }}
				d, err := time.ParseDuration(value)
				if err != nil {
					return fmt.Errorf("invalid duration value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = &d
				{{- else if eq $param.Type "int64" }}
				iv, err := strconv.ParseInt(value, 10, 64)
				if err != nil {
					return fmt.Errorf("invalid int64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = iv
				{{- else if eq $param.Type "*int64" }}
				iv, err := strconv.ParseInt(value, 10, 64)
				if err != nil {
					return fmt.Errorf("invalid int64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = &iv
				{{- else if eq $param.Type "int32" }}
				iv, err := strconv.ParseInt(value, 10, 32)
				if err != nil {
					return fmt.Errorf("invalid int32 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = int32(iv)
				{{- else if eq $param.Type "*int32" }}
				iv, err := strconv.ParseInt(value, 10, 32)
				if err != nil {
					return fmt.Errorf("invalid int32 value for flag %s: %s", name, value)
				}
				v := int32(iv)
				c.{{$param.Name}} = &v
				{{- else if eq $param.Type "int16" }}
				iv, err := strconv.ParseInt(value, 10, 16)
				if err != nil {
					return fmt.Errorf("invalid int16 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = int16(iv)
				{{- else if eq $param.Type "*int16" }}
				iv, err := strconv.ParseInt(value, 10, 16)
				if err != nil {
					return fmt.Errorf("invalid int16 value for flag %s: %s", name, value)
				}
				v := int16(iv)
				c.{{$param.Name}} = &v
				{{- else if eq $param.Type "int8" }}
				iv, err := strconv.ParseInt(value, 10, 8)
				if err != nil {
					return fmt.Errorf("invalid int8 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = int8(iv)
				{{- else if eq $param.Type "*int8" }}
				iv, err := strconv.ParseInt(value, 10, 8)
				if err != nil {
					return fmt.Errorf("invalid int8 value for flag %s: %s", name, value)
				}
				v := int8(iv)
				c.{{$param.Name}} = &v
				{{- else if eq $param.Type "uint" }}
				iv, err := strconv.ParseUint(value, 10, strconv.IntSize)
				if err != nil {
					return fmt.Errorf("invalid uint value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = uint(iv)
				{{- else if eq $param.Type "*uint" }}
				iv, err := strconv.ParseUint(value, 10, strconv.IntSize)
				if err != nil {
					return fmt.Errorf("invalid uint value for flag %s: %s", name, value)
				}
				v := uint(iv)
				c.{{$param.Name}} = &v
				{{- else if eq $param.Type "uint64" }}
				iv, err := strconv.ParseUint(value, 10, 64)
				if err != nil {
					return fmt.Errorf("invalid uint64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = iv
				{{- else if eq $param.Type "*uint64" }}
				iv, err := strconv.ParseUint(value, 10, 64)
				if err != nil {
					return fmt.Errorf("invalid uint64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = &iv
				{{- else if eq $param.Type "uint32" }}
				iv, err := strconv.ParseUint(value, 10, 32)
				if err != nil {
					return fmt.Errorf("invalid uint32 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = uint32(iv)
				{{- else if eq $param.Type "*uint32" }}
				iv, err := strconv.ParseUint(value, 10, 32)
				if err != nil {
					return fmt.Errorf("invalid uint32 value for flag %s: %s", name, value)
				}
				v := uint32(iv)
				c.{{$param.Name}} = &v
				{{- else if eq $param.Type "uint16" }}
				iv, err := strconv.ParseUint(value, 10, 16)
				if err != nil {
					return fmt.Errorf("invalid uint16 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = uint16(iv)
				{{- else if eq $param.Type "*uint16" }}
				iv, err := strconv.ParseUint(value, 10, 16)
				if err != nil {
					return fmt.Errorf("invalid uint16 value for flag %s: %s", name, value)
				}
				v := uint16(iv)
				c.{{$param.Name}} = &v
				{{- else if eq $param.Type "uint8" }}
				iv, err := strconv.ParseUint(value, 10, 8)
				if err != nil {
					return fmt.Errorf("invalid uint8 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = uint8(iv)
				{{- else if eq $param.Type "*uint8" }}
				iv, err := strconv.ParseUint(value, 10, 8)
				if err != nil {
					return fmt.Errorf("invalid uint8 value for flag %s: %s", name, value)
				}
				v := uint8(iv)
				c.{{$param.Name}} = &v
				{{- else if eq $param.Type "float64" }}
				f, err := strconv.ParseFloat(value, 64)
				if err != nil {
					return fmt.Errorf("invalid float64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = f
				{{- else if eq $param.Type "*float64" }}
				f, err := strconv.ParseFloat(value, 64)
				if err != nil {
					return fmt.Errorf("invalid float64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = &f
				{{- else if eq $param.Type "float32" }}
				f, err := strconv.ParseFloat(value, 32)
				if err != nil {
					return fmt.Errorf("invalid float32 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = float32(f)
				{{- else if eq $param.Type "*float32" }}
				f, err := strconv.ParseFloat(value, 32)
				if err != nil {
					return fmt.Errorf("invalid float32 value for flag %s: %s", name, value)
				}
				v := float32(f)
				c.{{$param.Name}} = &v
				{{- else if eq $param.Type "[]string" }}
				c.{{$param.Name}} = append(c.{{$param.Name}}, value)
				{{- else if eq $param.Type "[]*string" }}
				s := value
				c.{{$param.Name}} = append(c.{{$param.Name}}, &s)
				{{- else if eq $param.Type "[]int" }}
				iv, err := strconv.Atoi(value)
				if err != nil {
					return fmt.Errorf("invalid integer value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, iv)
				{{- else if eq $param.Type "[]*int" }}
				iv, err := strconv.Atoi(value)
				if err != nil {
					return fmt.Errorf("invalid integer value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, &iv)
				{{- else if eq $param.Type "[]time.Duration" }}
				d, err := time.ParseDuration(value)
				if err != nil {
					return fmt.Errorf("invalid duration value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, d)
				{{- else if eq $param.Type "[]*time.Duration" }}
				d, err := time.ParseDuration(value)
				if err != nil {
					return fmt.Errorf("invalid duration value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, &d)
				{{- else if eq $param.Type "[]int64" }}
				iv, err := strconv.ParseInt(value, 10, 64)
				if err != nil {
					return fmt.Errorf("invalid int64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, iv)
				{{- else if eq $param.Type "[]*int64" }}
				iv, err := strconv.ParseInt(value, 10, 64)
				if err != nil {
					return fmt.Errorf("invalid int64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, &iv)
				{{- else if eq $param.Type "[]int32" }}
				iv, err := strconv.ParseInt(value, 10, 32)
				if err != nil {
					return fmt.Errorf("invalid int32 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, int32(iv))
				{{- else if eq $param.Type "[]*int32" }}
				iv, err := strconv.ParseInt(value, 10, 32)
				if err != nil {
					return fmt.Errorf("invalid int32 value for flag %s: %s", name, value)
				}
				v := int32(iv)
				c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
				{{- else if eq $param.Type "[]int16" }}
				iv, err := strconv.ParseInt(value, 10, 16)
				if err != nil {
					return fmt.Errorf("invalid int16 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, int16(iv))
				{{- else if eq $param.Type "[]*int16" }}
				iv, err := strconv.ParseInt(value, 10, 16)
				if err != nil {
					return fmt.Errorf("invalid int16 value for flag %s: %s", name, value)
				}
				v := int16(iv)
				c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
				{{- else if eq $param.Type "[]int8" }}
				iv, err := strconv.ParseInt(value, 10, 8)
				if err != nil {
					return fmt.Errorf("invalid int8 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, int8(iv))
				{{- else if eq $param.Type "[]*int8" }}
				iv, err := strconv.ParseInt(value, 10, 8)
				if err != nil {
					return fmt.Errorf("invalid int8 value for flag %s: %s", name, value)
				}
				v := int8(iv)
				c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
				{{- else if eq $param.Type "[]uint" }}
				iv, err := strconv.ParseUint(value, 10, strconv.IntSize)
				if err != nil {
					return fmt.Errorf("invalid uint value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, uint(iv))
				{{- else if eq $param.Type "[]*uint" }}
				iv, err := strconv.ParseUint(value, 10, strconv.IntSize)
				if err != nil {
					return fmt.Errorf("invalid uint value for flag %s: %s", name, value)
				}
				v := uint(iv)
				c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
				{{- else if eq $param.Type "[]uint64" }}
				iv, err := strconv.ParseUint(value, 10, 64)
				if err != nil {
					return fmt.Errorf("invalid uint64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, iv)
				{{- else if eq $param.Type "[]*uint64" }}
				iv, err := strconv.ParseUint(value, 10, 64)
				if err != nil {
					return fmt.Errorf("invalid uint64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, &iv)
				{{- else if eq $param.Type "[]uint32" }}
				iv, err := strconv.ParseUint(value, 10, 32)
				if err != nil {
					return fmt.Errorf("invalid uint32 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, uint32(iv))
				{{- else if eq $param.Type "[]*uint32" }}
				iv, err := strconv.ParseUint(value, 10, 32)
				if err != nil {
					return fmt.Errorf("invalid uint32 value for flag %s: %s", name, value)
				}
				v := uint32(iv)
				c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
				{{- else if eq $param.Type "[]uint16" }}
				iv, err := strconv.ParseUint(value, 10, 16)
				if err != nil {
					return fmt.Errorf("invalid uint16 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, uint16(iv))
				{{- else if eq $param.Type "[]*uint16" }}
				iv, err := strconv.ParseUint(value, 10, 16)
				if err != nil {
					return fmt.Errorf("invalid uint16 value for flag %s: %s", name, value)
				}
				v := uint16(iv)
				c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
				{{- else if eq $param.Type "[]uint8" }}
				iv, err := strconv.ParseUint(value, 10, 8)
				if err != nil {
					return fmt.Errorf("invalid uint8 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, uint8(iv))
				{{- else if eq $param.Type "[]*uint8" }}
				iv, err := strconv.ParseUint(value, 10, 8)
				if err != nil {
					return fmt.Errorf("invalid uint8 value for flag %s: %s", name, value)
				}
				v := uint8(iv)
				c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
				{{- else if eq $param.Type "[]float64" }}
				f, err := strconv.ParseFloat(value, 64)
				if err != nil {
					return fmt.Errorf("invalid float64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, f)
				{{- else if eq $param.Type "[]*float64" }}
				f, err := strconv.ParseFloat(value, 64)
				if err != nil {
					return fmt.Errorf("invalid float64 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, &f)
				{{- else if eq $param.Type "[]float32" }}
				f, err := strconv.ParseFloat(value, 32)
				if err != nil {
					return fmt.Errorf("invalid float32 value for flag %s: %s", name, value)
				}
				c.{{$param.Name}} = append(c.{{$param.Name}}, float32(f))
				{{- else if eq $param.Type "[]*float32" }}
				f, err := strconv.ParseFloat(value, 32)
				if err != nil {
					return fmt.Errorf("invalid float32 value for flag %s: %s", name, value)
				}
				v := float32(f)
				c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
				{{- else }}
				// TODO: Implement parsing for flag type {{$param.Type}}
				return fmt.Errorf("parsing for flag type {{$param.Type}} is not implemented (value: %s)", value)
				{{- end }}
				{{- end }}
			{{- end }}
			{{- end }}
			{{- end }}
			default:
				return fmt.Errorf("unknown flag: --%s", name)
			}
		} else if strings.HasPrefix(arg, "-") && arg != "-" {
			// Short flags
			shorts := arg[1:]
			for j := 0; j < len(shorts); j++ {
				char := string(shorts[j])
				if char == "h" {
					c.Usage()
					return nil
				}
				found := false
				{{- range .Parameters }}
				{{- if and (not .IsPositional) (not .HasGenerator) }}
				{{$param := .}}
				{{- $shorts := list }}
				{{- if eq (len .Name) 1 }}{{ $shorts = append $shorts .Name }}{{ end }}
				{{- range .FlagAliases }}{{ if eq (len .) 1 }}{{ $shorts = append $shorts . }}{{ end }}{{ end }}
				{{- $uniqueShorts := list }}
				{{- range $s := $shorts }}
					{{- $exists := false }}
					{{- range $u := $uniqueShorts }}{{ if eq $u $s }}{{ $exists = true }}{{ end }}{{ end }}
					{{- if not $exists }}{{ $uniqueShorts = append $uniqueShorts $s }}{{ end }}
				{{- end }}
				{{- if gt (len $uniqueShorts) 0 }}
				if char == "{{index $uniqueShorts 0}}" {{ range slice $uniqueShorts 1 }}|| char == "{{.}}"{{ end }} {
					found = true
					{{- if or $param.Required (and (or $param.IsWriter $param.IsReader) $param.HasDefaultValue) }}
					seenFlags["{{$param.Name}}"] = true
					{{- end }}
					{{- if or (eq $param.Type "bool") (eq $param.Type "*bool") (eq $param.Type "[]bool") (eq $param.Type "[]*bool") }}
					{{- if eq $param.Type "bool" }}
					c.{{$param.Name}} = true
					{{- else if eq $param.Type "*bool" }}
					b := true
					c.{{$param.Name}} = &b
					{{- else if eq $param.Type "[]bool" }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, true)
					{{- else if eq $param.Type "[]*bool" }}
					b := true
					c.{{$param.Name}} = append(c.{{$param.Name}}, &b)
					{{- end }}
					{{- else }}
					// Value flag
					value := ""
					if j+1 < len(shorts) {
						// Value is the rest of the short flag
						value = shorts[j+1:]
						if strings.HasPrefix(value, "=") {
							value = value[1:]
						}
						j = len(shorts) // break inner loop
					} else {
						// Value is the next arg
						if i+1 < len(args) {
							value = args[i+1]
							i++
						} else {
							return fmt.Errorf("flag -%s requires a value", char)
						}
					}
					{{- if or $param.IsWriter $param.IsReader }}
					{{- template "acquire_io" (list $param "value") }}
					{{- else if $param.HasCustomParser }}
					v, err := {{$param.ParserCall "value"}}
					if err != nil {
						return fmt.Errorf("invalid {{$param.TypeDescription}} value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = {{$param.CastCode "v"}}
					{{- else if eq $param.Type "string" }}
					c.{{$param.Name}} = value
					{{- else if eq $param.Type "*string" }}
					s := value
					c.{{$param.Name}} = &s
					{{- else if eq $param.Type "int" }}
					iv, err := strconv.Atoi(value)
					if err != nil {
						return fmt.Errorf("invalid integer value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = iv
					{{- else if eq $param.Type "*int" }}
					iv, err := strconv.Atoi(value)
					if err != nil {
						return fmt.Errorf("invalid integer value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = &iv
					{{- else if eq $param.Type "time.Duration" }}
					d, err := time.ParseDuration(value)
					if err != nil {
						return fmt.Errorf("invalid duration value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = d
					{{- else if eq $param.Type "*time.Duration" }}
					d, err := time.ParseDuration(value)
					if err != nil {
						return fmt.Errorf("invalid duration value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = &d
					{{- else if eq $param.Type "int64" }}
					iv, err := strconv.ParseInt(value, 10, 64)
					if err != nil {
						return fmt.Errorf("invalid int64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = iv
					{{- else if eq $param.Type "*int64" }}
					iv, err := strconv.ParseInt(value, 10, 64)
					if err != nil {
						return fmt.Errorf("invalid int64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = &iv
					{{- else if eq $param.Type "int32" }}
					iv, err := strconv.ParseInt(value, 10, 32)
					if err != nil {
						return fmt.Errorf("invalid int32 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = int32(iv)
					{{- else if eq $param.Type "*int32" }}
					iv, err := strconv.ParseInt(value, 10, 32)
					if err != nil {
						return fmt.Errorf("invalid int32 value for flag -%s: %s", char, value)
					}
					v := int32(iv)
					c.{{$param.Name}} = &v
					{{- else if eq $param.Type "int16" }}
					iv, err := strconv.ParseInt(value, 10, 16)
					if err != nil {
						return fmt.Errorf("invalid int16 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = int16(iv)
					{{- else if eq $param.Type "*int16" }}
					iv, err := strconv.ParseInt(value, 10, 16)
					if err != nil {
						return fmt.Errorf("invalid int16 value for flag -%s: %s", char, value)
					}
					v := int16(iv)
					c.{{$param.Name}} = &v
					{{- else if eq $param.Type "int8" }}
					iv, err := strconv.ParseInt(value, 10, 8)
					if err != nil {
						return fmt.Errorf("invalid int8 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = int8(iv)
					{{- else if eq $param.Type "*int8" }}
					iv, err := strconv.ParseInt(value, 10, 8)
					if err != nil {
						return fmt.Errorf("invalid int8 value for flag -%s: %s", char, value)
					}
					v := int8(iv)
					c.{{$param.Name}} = &v
					{{- else if eq $param.Type "uint" }}
					iv, err := strconv.ParseUint(value, 10, strconv.IntSize)
					if err != nil {
						return fmt.Errorf("invalid uint value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = uint(iv)
					{{- else if eq $param.Type "*uint" }}
					iv, err := strconv.ParseUint(value, 10, strconv.IntSize)
					if err != nil {
						return fmt.Errorf("invalid uint value for flag -%s: %s", char, value)
					}
					v := uint(iv)
					c.{{$param.Name}} = &v
					{{- else if eq $param.Type "uint64" }}
					iv, err := strconv.ParseUint(value, 10, 64)
					if err != nil {
						return fmt.Errorf("invalid uint64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = iv
					{{- else if eq $param.Type "*uint64" }}
					iv, err := strconv.ParseUint(value, 10, 64)
					if err != nil {
						return fmt.Errorf("invalid uint64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = &iv
					{{- else if eq $param.Type "uint32" }}
					iv, err := strconv.ParseUint(value, 10, 32)
					if err != nil {
						return fmt.Errorf("invalid uint32 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = uint32(iv)
					{{- else if eq $param.Type "*uint32" }}
					iv, err := strconv.ParseUint(value, 10, 32)
					if err != nil {
						return fmt.Errorf("invalid uint32 value for flag -%s: %s", char, value)
					}
					v := uint32(iv)
					c.{{$param.Name}} = &v
					{{- else if eq $param.Type "uint16" }}
					iv, err := strconv.ParseUint(value, 10, 16)
					if err != nil {
						return fmt.Errorf("invalid uint16 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = uint16(iv)
					{{- else if eq $param.Type "*uint16" }}
					iv, err := strconv.ParseUint(value, 10, 16)
					if err != nil {
						return fmt.Errorf("invalid uint16 value for flag -%s: %s", char, value)
					}
					v := uint16(iv)
					c.{{$param.Name}} = &v
					{{- else if eq $param.Type "uint8" }}
					iv, err := strconv.ParseUint(value, 10, 8)
					if err != nil {
						return fmt.Errorf("invalid uint8 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = uint8(iv)
					{{- else if eq $param.Type "*uint8" }}
					iv, err := strconv.ParseUint(value, 10, 8)
					if err != nil {
						return fmt.Errorf("invalid uint8 value for flag -%s: %s", char, value)
					}
					v := uint8(iv)
					c.{{$param.Name}} = &v
					{{- else if eq $param.Type "float64" }}
					f, err := strconv.ParseFloat(value, 64)
					if err != nil {
						return fmt.Errorf("invalid float64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = f
					{{- else if eq $param.Type "*float64" }}
					f, err := strconv.ParseFloat(value, 64)
					if err != nil {
						return fmt.Errorf("invalid float64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = &f
					{{- else if eq $param.Type "float32" }}
					f, err := strconv.ParseFloat(value, 32)
					if err != nil {
						return fmt.Errorf("invalid float32 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = float32(f)
					{{- else if eq $param.Type "*float32" }}
					f, err := strconv.ParseFloat(value, 32)
					if err != nil {
						return fmt.Errorf("invalid float32 value for flag -%s: %s", char, value)
					}
					v := float32(f)
					c.{{$param.Name}} = &v
					{{- else if eq $param.Type "[]string" }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, value)
					{{- else if eq $param.Type "[]*string" }}
					s := value
					c.{{$param.Name}} = append(c.{{$param.Name}}, &s)
					{{- else if eq $param.Type "[]int" }}
					iv, err := strconv.Atoi(value)
					if err != nil {
						return fmt.Errorf("invalid integer value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, iv)
					{{- else if eq $param.Type "[]*int" }}
					iv, err := strconv.Atoi(value)
					if err != nil {
						return fmt.Errorf("invalid integer value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, &iv)
					{{- else if eq $param.Type "[]time.Duration" }}
					d, err := time.ParseDuration(value)
					if err != nil {
						return fmt.Errorf("invalid duration value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, d)
					{{- else if eq $param.Type "[]*time.Duration" }}
					d, err := time.ParseDuration(value)
					if err != nil {
						return fmt.Errorf("invalid duration value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, &d)
					{{- else if eq $param.Type "[]int64" }}
					iv, err := strconv.ParseInt(value, 10, 64)
					if err != nil {
						return fmt.Errorf("invalid int64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, iv)
					{{- else if eq $param.Type "[]*int64" }}
					iv, err := strconv.ParseInt(value, 10, 64)
					if err != nil {
						return fmt.Errorf("invalid int64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, &iv)
					{{- else if eq $param.Type "[]int32" }}
					iv, err := strconv.ParseInt(value, 10, 32)
					if err != nil {
						return fmt.Errorf("invalid int32 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, int32(iv))
					{{- else if eq $param.Type "[]*int32" }}
					iv, err := strconv.ParseInt(value, 10, 32)
					if err != nil {
						return fmt.Errorf("invalid int32 value for flag -%s: %s", char, value)
					}
					v := int32(iv)
					c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
					{{- else if eq $param.Type "[]int16" }}
					iv, err := strconv.ParseInt(value, 10, 16)
					if err != nil {
						return fmt.Errorf("invalid int16 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, int16(iv))
					{{- else if eq $param.Type "[]*int16" }}
					iv, err := strconv.ParseInt(value, 10, 16)
					if err != nil {
						return fmt.Errorf("invalid int16 value for flag -%s: %s", char, value)
					}
					v := int16(iv)
					c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
					{{- else if eq $param.Type "[]int8" }}
					iv, err := strconv.ParseInt(value, 10, 8)
					if err != nil {
						return fmt.Errorf("invalid int8 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, int8(iv))
					{{- else if eq $param.Type "[]*int8" }}
					iv, err := strconv.ParseInt(value, 10, 8)
					if err != nil {
						return fmt.Errorf("invalid int8 value for flag -%s: %s", char, value)
					}
					v := int8(iv)
					c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
					{{- else if eq $param.Type "[]uint" }}
					iv, err := strconv.ParseUint(value, 10, strconv.IntSize)
					if err != nil {
						return fmt.Errorf("invalid uint value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, uint(iv))
					{{- else if eq $param.Type "[]*uint" }}
					iv, err := strconv.ParseUint(value, 10, strconv.IntSize)
					if err != nil {
						return fmt.Errorf("invalid uint value for flag -%s: %s", char, value)
					}
					v := uint(iv)
					c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
					{{- else if eq $param.Type "[]uint64" }}
					iv, err := strconv.ParseUint(value, 10, 64)
					if err != nil {
						return fmt.Errorf("invalid uint64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, iv)
					{{- else if eq $param.Type "[]*uint64" }}
					iv, err := strconv.ParseUint(value, 10, 64)
					if err != nil {
						return fmt.Errorf("invalid uint64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, &iv)
					{{- else if eq $param.Type "[]uint32" }}
					iv, err := strconv.ParseUint(value, 10, 32)
					if err != nil {
						return fmt.Errorf("invalid uint32 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, uint32(iv))
					{{- else if eq $param.Type "[]*uint32" }}
					iv, err := strconv.ParseUint(value, 10, 32)
					if err != nil {
						return fmt.Errorf("invalid uint32 value for flag -%s: %s", char, value)
					}
					v := uint32(iv)
					c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
					{{- else if eq $param.Type "[]uint16" }}
					iv, err := strconv.ParseUint(value, 10, 16)
					if err != nil {
						return fmt.Errorf("invalid uint16 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, uint16(iv))
					{{- else if eq $param.Type "[]*uint16" }}
					iv, err := strconv.ParseUint(value, 10, 16)
					if err != nil {
						return fmt.Errorf("invalid uint16 value for flag -%s: %s", char, value)
					}
					v := uint16(iv)
					c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
					{{- else if eq $param.Type "[]uint8" }}
					iv, err := strconv.ParseUint(value, 10, 8)
					if err != nil {
						return fmt.Errorf("invalid uint8 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, uint8(iv))
					{{- else if eq $param.Type "[]*uint8" }}
					iv, err := strconv.ParseUint(value, 10, 8)
					if err != nil {
						return fmt.Errorf("invalid uint8 value for flag -%s: %s", char, value)
					}
					v := uint8(iv)
					c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
					{{- else if eq $param.Type "[]float64" }}
					f, err := strconv.ParseFloat(value, 64)
					if err != nil {
						return fmt.Errorf("invalid float64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, f)
					{{- else if eq $param.Type "[]*float64" }}
					f, err := strconv.ParseFloat(value, 64)
					if err != nil {
						return fmt.Errorf("invalid float64 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, &f)
					{{- else if eq $param.Type "[]float32" }}
					f, err := strconv.ParseFloat(value, 32)
					if err != nil {
						return fmt.Errorf("invalid float32 value for flag -%s: %s", char, value)
					}
					c.{{$param.Name}} = append(c.{{$param.Name}}, float32(f))
					{{- else if eq $param.Type "[]*float32" }}
					f, err := strconv.ParseFloat(value, 32)
					if err != nil {
						return fmt.Errorf("invalid float32 value for flag -%s: %s", char, value)
					}
					v := float32(f)
					c.{{$param.Name}} = append(c.{{$param.Name}}, &v)
					{{- else }}
					// TODO: Implement parsing for flag type {{$param.Type}}
					return fmt.Errorf("parsing for flag type {{$param.Type}} is not implemented (value: %s)", value)
					{{- end }}
					{{- end }}
				}
				{{- end }}
				{{- end }}
				{{- end }}
				if !found {
					return fmt.Errorf("unknown flag: -%s", char)
				}
			}
		} else {
			remainingArgs = append(remainingArgs, args[i:]...)
			break
		}
	}

	{{- if .HasRequiredFlags }}
	{{- range .Parameters }}
	{{- if and .Required (not .IsPositional) (not .HasGenerator) }}
	if !seenFlags["{{.Name}}"] {
		return fmt.Errorf("required flag {{.PrimaryFlagName}} not provided")
	}
	{{- end }}
	{{- end }}
	{{- end }}

	{{- if .FunctionName }}

{{- template "positional_args_parsing" .Parameters }}

	{{- range $param := .Parameters }}
	{{- if and (not $param.IsPositional) (not $param.HasGenerator) (or $param.IsWriter $param.IsReader) $param.HasDefaultValue (not $param.IsSlice) }}
	if !seenFlags["{{$param.Name}}"] {
		{{- $default := $param.Default -}}
		{{- template "acquire_io" (list $param (printf "%q" $default)) }}
	}
	{{- end }}
	{{- end }}
	if c.CommandAction != nil {
		if err := c.CommandAction(c); err != nil {
			return fmt.Errorf("{{.MainCmdName | lower}} failed: %w", err)
		}
	}
	{{- end }}

	if !dashDashSeen && len(remainingArgs) > 0 {
		if cmd, ok := c.Commands[remainingArgs[0]]; ok {
			return cmd().Execute(remainingArgs[1:])
		}
	}

	{{- if .FunctionName}}
	return nil

	{{- else}}
	c.Usage()
	if len(remainingArgs) > 0 {
		return fmt.Errorf("unknown command: %s", remainingArgs[0])
	}
	return nil
	{{- end}}
}
{{- end }}

{{- define "parser_gnu_cmd" }}
func (c *{{.SubCommandStructName}}) Execute(args []string) (err error) {
	{{- $hasFileExec := false }}
	{{- range .Parameters }}
	{{- if or .IsWriter .IsReader }}
	{{- $hasFileExec = true }}
	{{- end }}
	{{- end }}
	{{- if $hasFileExec }}
	var cleanups []func() error
	defer func() {
		for i := len(cleanups) - 1; i >= 0; i-- {
			if cerr := cleanups[i](); cerr != nil && err == nil {
				err = cerr
			}
		}
	}()
	{{- end }}
	{{- range .Parameters }}
	{{- if .HasGenerator }}
	{
		v, err := {{.GeneratorCall}}
		if err != nil {
			return fmt.Errorf("failed to generate {{.Name}}: %w", err)
		}
		c.{{.Name}} = v
	}
	{{- end }}
	{{- end }}
	{{- $needsRemainingArgs := false }}
	{{- range .Parameters }}
	{{- if or .IsPositional .IsVarArg }}
	{{- $needsRemainingArgs = true }}
	{{- end }}
	{{- end }}
	var remainingArgs []string
	{{- $hasTrackedFlags := false }}
	{{- range .Parameters }}
		{{- if or .Required (and (not .IsPositional) (not .HasGenerator) (or .IsWriter .IsReader) .HasDefaultValue) }}
			{{- $hasTrackedFlags = true }}
		{{- end }}
	{{- end }}
	{{- if $hasTrackedFlags }}
	seenFlags := make(map[string]bool)
	{{- end }}
	dashDashSeen := false
	for i := 0; i < len(args); i++ {
		arg := args[i]
		if arg == "--" {
			dashDashSeen = true
			remainingArgs = append(remainingArgs, args[i+1:]...)
			break
		}
		if strings.HasPrefix(arg, "--") {
			if arg == "--help" {
				c.Usage()
				return nil
			}
			name := arg[2:]
			value := ""
			hasValue := false
			if strings.Contains(name, "=") {
				parts := strings.SplitN(name, "=", 2)
				name = parts[0]
				value = parts[1]
				hasValue = true
			}
			_ = value
			_ = hasValue
			switch name {
			{{- range .Parameters }}
			{{- if and (not .IsPositional) (not .HasGenerator) (not .InheritedFrom) }}
			{{$param := .}}
			{{- $longs := list }}
			{{- if gt (len .Name) 1 }}{{ $longs = append $longs .Name }}{{ end }}
			{{- range .FlagAliases }}{{ if gt (len .) 1 }}{{ $longs = append $longs . }}{{ end }}{{ end }}
			{{- $uniqueLongs := list }}
			{{- range $l := $longs }}
				{{- $exists := false }}
				{{- range $u := $uniqueLongs }}{{ if eq $u $l }}{{ $exists = true }}{{ end }}{{ end }}
				{{- if not $exists }}{{ $uniqueLongs = append $uniqueLongs $l }}{{ end }}
			{{- end }}
			{{- if gt (len $uniqueLongs) 0 }}
			case {{ range $i, $n := $uniqueLongs }}{{if $i}}, {{end}}"{{$n}}"{{ end }}:
				{{- if or $param.Required (and (not $param.IsPositional) (not $param.HasGenerator) (or $param.IsWriter $param.IsReader) $param.HasDefaultValue) }}
				seenFlags["{{$param.Name}}"] = true
				{{- end }}
				{{- if $param.IsBool }}
				if hasValue {
					b, err := strconv.ParseBool(value)
					if err != nil {
						return fmt.Errorf("invalid boolean value for flag %s: %s", name, value)
					}
					{{- if $param.IsSlice }}
					{{- if $param.HasPointer }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, &b)
					{{- else }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, b)
					{{- end }}
					{{- else }}
					{{- if $param.HasPointer }}
					c.{{$param.Name}} = &b
					{{- else }}
					c.{{$param.Name}} = b
					{{- end }}
					{{- end }}
				} else {
					{{- if $param.IsSlice }}
					{{- if $param.HasPointer }}
					b := true
					c.{{$param.Name}} = append(c.{{$param.Name}}, &b)
					{{- else }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, true)
					{{- end }}
					{{- else }}
					{{- if $param.HasPointer }}
					b := true
					c.{{$param.Name}} = &b
					{{- else }}
					c.{{$param.Name}} = true
					{{- end }}
					{{- end }}
				}
				{{- else }}
				if !hasValue {
					if i+1 < len(args) {
						value = args[i+1]
						i++
					} else {
						return fmt.Errorf("flag %s requires a value", name)
					}
				}
				{{- if and $param.IsString (not $param.HasCustomParser) }}
				{{- if $param.IsSlice }}
				{{- if $param.HasPointer }}
				s := value
				c.{{$param.Name}} = append(c.{{$param.Name}}, &s)
				{{- else }}
				c.{{$param.Name}} = append(c.{{$param.Name}}, value)
				{{- end }}
				{{- else }}
				{{- if $param.HasPointer }}
				s := value
				c.{{$param.Name}} = &s
				{{- else }}
				c.{{$param.Name}} = value
				{{- end }}
				{{- end }}
				{{- else if or $param.IsWriter $param.IsReader }}
				{{- template "acquire_io" (list $param "value") }}
				{{- else }}
				v, err := {{$param.ParserCall "value"}}
				if err != nil {
					return fmt.Errorf("invalid {{$param.TypeDescription}} value for flag %s: %s", name, value)
				}
				{{- if $param.IsSlice }}
				{{- if $param.HasPointer }}
				val := {{$param.CastCode "v"}}
				c.{{$param.Name}} = append(c.{{$param.Name}}, &val)
				{{- else }}
				c.{{$param.Name}} = append(c.{{$param.Name}}, {{$param.CastCode "v"}})
				{{- end }}
				{{- else }}
				{{- if $param.HasPointer }}
				val := {{$param.CastCode "v"}}
				c.{{$param.Name}} = &val
				{{- else }}
				c.{{$param.Name}} = {{$param.CastCode "v"}}
				{{- end }}
				{{- end }}
				{{- end }}
				{{- end }}
			{{- end }}
			{{- end }}
			{{- end }}
			default:
				return fmt.Errorf("unknown flag: --%s", name)
			}
		} else if strings.HasPrefix(arg, "-") && arg != "-" {
			// Short flags
			shorts := arg[1:]
			for j := 0; j < len(shorts); j++ {
				char := string(shorts[j])
				if char == "h" {
					c.Usage()
					return nil
				}
				found := false
				{{- range .Parameters }}
				{{- if and (not .IsPositional) (not .HasGenerator) (not .InheritedFrom) }}
				{{$param := .}}
				{{- $shorts := list }}
				{{- if eq (len .Name) 1 }}{{ $shorts = append $shorts .Name }}{{ end }}
				{{- range .FlagAliases }}{{ if eq (len .) 1 }}{{ $shorts = append $shorts . }}{{ end }}{{ end }}
				{{- $uniqueShorts := list }}
				{{- range $s := $shorts }}
					{{- $exists := false }}
					{{- range $u := $uniqueShorts }}{{ if eq $u $s }}{{ $exists = true }}{{ end }}{{ end }}
					{{- if not $exists }}{{ $uniqueShorts = append $uniqueShorts $s }}{{ end }}
				{{- end }}
				{{- if gt (len $uniqueShorts) 0 }}
				if char == "{{index $uniqueShorts 0}}" {{ range slice $uniqueShorts 1 }}|| char == "{{.}}"{{ end }} {
					found = true
					{{- if or $param.Required (and (or $param.IsWriter $param.IsReader) $param.HasDefaultValue) }}
					seenFlags["{{$param.Name}}"] = true
					{{- end }}
					{{- if $param.IsBool }}
					{{- if $param.IsSlice }}
					{{- if $param.HasPointer }}
					b := true
					c.{{$param.Name}} = append(c.{{$param.Name}}, &b)
					{{- else }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, true)
					{{- end }}
					{{- else }}
					{{- if $param.HasPointer }}
					b := true
					c.{{$param.Name}} = &b
					{{- else }}
					c.{{$param.Name}} = true
					{{- end }}
					{{- end }}
					{{- else }}
					// Value flag
					value := ""
					if j+1 < len(shorts) {
						// Value is the rest of the short flag
						value = shorts[j+1:]
						if strings.HasPrefix(value, "=") {
							value = value[1:]
						}
						j = len(shorts) // break inner loop
					} else {
						// Value is the next arg
						if i+1 < len(args) {
							value = args[i+1]
							i++
						} else {
							return fmt.Errorf("flag -%s requires a value", char)
						}
					}
					{{- if and $param.IsString (not $param.HasCustomParser) }}
					{{- if $param.IsSlice }}
					{{- if $param.HasPointer }}
					s := value
					c.{{$param.Name}} = append(c.{{$param.Name}}, &s)
					{{- else }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, value)
					{{- end }}
					{{- else }}
					{{- if $param.HasPointer }}
					s := value
					c.{{$param.Name}} = &s
					{{- else }}
					c.{{$param.Name}} = value
					{{- end }}
					{{- end }}
					{{- else if or $param.IsWriter $param.IsReader }}
					{{- template "acquire_io" (list $param "value") }}
					{{- else }}
					v, err := {{$param.ParserCall "value"}}
					if err != nil {
						return fmt.Errorf("invalid {{$param.TypeDescription}} value for flag -%s: %s", char, value)
					}
					{{- if $param.IsSlice }}
					{{- if $param.HasPointer }}
					val := {{$param.CastCode "v"}}
					c.{{$param.Name}} = append(c.{{$param.Name}}, &val)
					{{- else }}
					c.{{$param.Name}} = append(c.{{$param.Name}}, {{$param.CastCode "v"}})
					{{- end }}
					{{- else }}
					{{- if $param.HasPointer }}
					val := {{$param.CastCode "v"}}
					c.{{$param.Name}} = &val
					{{- else }}
					c.{{$param.Name}} = {{$param.CastCode "v"}}
					{{- end }}
					{{- end }}
					{{- end }}
					{{- end }}
				}
				{{- end }}
				{{- end }}
				{{- end }}
				if !found {
					return fmt.Errorf("unknown flag: -%s", char)
				}
			}
		} else {
			remainingArgs = append(remainingArgs, args[i:]...)
			break
		}
	}

	{{- if .HasRequiredFlags }}
	{{- range .Parameters }}
	{{- if and .Required (not .IsPositional) (not .HasGenerator) (not .InheritedFrom) }}
	if !seenFlags["{{.Name}}"] {
		return fmt.Errorf("required flag {{.PrimaryFlagName}} not provided")
	}
	{{- end }}
	{{- end }}
	{{- end }}

	if !dashDashSeen && len(remainingArgs) > 0 {
		if cmd, ok := c.SubCommands[remainingArgs[0]]; ok {
			return cmd().Execute(remainingArgs[1:])
		}
	}

{{- template "positional_args_parsing" .Parameters }}

	{{if .SubCommandFunctionName}}
	{{- range $param := .Parameters }}
	{{- if and (not $param.IsPositional) (not $param.HasGenerator) (or $param.IsWriter $param.IsReader) $param.HasDefaultValue (not $param.IsSlice) }}
	if !seenFlags["{{$param.Name}}"] {
		{{- $default := $param.Default -}}
		{{- template "acquire_io" (list $param (printf "%q" $default)) }}
	}
	{{- end }}
	{{- end }}
	if c.CommandAction != nil {
		if err := c.CommandAction(c); err != nil {
			return fmt.Errorf("{{.SubCommandName | lower}} failed: %w", err)
		}
	} else {
		c.Usage()
	}
	{{else}}
	c.Usage()
	{{end}}
	return nil
}
{{- end }}
