Usage: {{.ProgName}} <subcommand> [arguments]

Subcommands:
{{range .SubCommands}}
    {{.SubCommandName | printf "%-10s"}} {{.SubCommandDescription}}
{{end}}
    version      Print version information
